[Desktop Entry]
Name=WellView
Comment=i3S Well Image Capturer
Icon=PATH_HERE/icon.png
Exec=lxterminal --working-directory=PATH_HERE -e ./wellview.py
Type=Application
Encoding=UTF-8
Terminal=false
Categories=Science;Education;
